@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(41, 41, 41);
}

#root {
  min-height:100%;
}